<main>
  <div id="alarms">
    <h2>Your Alarms</h2>
    <div class="alarmItem">
      <div>
        <h3>Alarm 1</h3>
        <span>4:00pm</span>
      </div>
      <div>
        <input type="checkbox" />
      </div>
    </div>
  </div>
  <div id="mic">
    <span id="closeClock" class="openCloseClock"></span>
    <img src="/img/miraculous.jpg" alt="" />
    <span id="openClock" class="openCloseClock"></span>
  </div>
  <div id="clock">
    <span id="hours"></span>
    :
    <span id="minutes"></span>
  </div>
</main>